.companies {
    padding: 0 0 5rem 0;

    &__logo-box {
        max-width: 100%;
        height: 4rem;
        margin-bottom: 0.5rem;
        padding: 0.1rem;
        text-align: center;
        position: relative;

        img {
            height: 100%;

            &:hover {
                filter: grayscale(121);
            }
        }
    }

}