@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include nav-gradient;

li{
    padding: 0 0.7rem;
    
    a{
        color: #684911 !important;
        text-transform: capitalize;
        font-weight: 600;
    }
}
}