@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include nav-gradient;

li{
    padding: 0 0.7rem;
    
    a{
        color: #684911 !important;
        text-transform: capitalize;
        font-weight: 600;
    }
  }
}

.navbar-brand {
    width:150px;
    font-size: 24px;
    max-height: 10rem;
  }
  .navbar-brand img {
    height: 5rem;
    /* put value of image height as your need */
    float: left;
    margin-right: 1rem;
  }


