
@use '../custom' as *;


//GRADIENT MIXIN
@mixin nav-gradient {
    background: linear-gradient(to left, rgba($primary, 0.95), rgba($secondary, 0.95));
    
}

@mixin btn-gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
    
}

//ABSOLUTE CENTER
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
}
